.promo {
  &__wrapper {

    padding: 0 20px;
    min-height: 480px;
    @media(min-width: @tablet-width){
      background-image: none;
      padding: 0 30px;
    }
    @media(min-width: @desctop-width){
      padding: 0 110px;
    }
  }

  &__header {
    text-align: center;
  }

  &__slogan {
    margin-top: 27px;
    margin-bottom: 25px;
  }

  &__intro {
  }

  &__image {
    @media(min-width: @tablet-width){
      height: 0px;
      width: 0px;
    }
  }

  &__button {
    height: 40px;
  }
}
